<h1>Fake store with stripe fake payments</h1>
<nav>
  <ul>
    <li class="logo"><img src="https://images.vexels.com/media/users/3/223412/isolated/preview/bd3704cf52ba23499660b8bae7221daf-store-icon-flat-design.png" alt="Description"></li>
    <li><a routerLink="/dashboard-component" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
    <li><a routerLink="/store-component" routerLinkActive="active" ariaCurrentWhenActive="page">Stores</a></li>
    <li><a routerLink="/profile-component" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</a></li>
    <li><a routerLink="/cart-component" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a></li>
  </ul>
</nav>
<router-outlet />